/* Responsive for mobile device */

@media screen and (max-width:570px) {
   header{
            background-image: none;
    }
    nav{
    padding: 20px;
    }
    nav ul li{
    margin-right: 20px;
    }
    .btn1{
    padding: 10px 20px;
    }
    .btn2{
    padding: 10px 20px;

    }

    .banner-container{
    flex-direction: column;
    margin: 20px;
    padding: 0 20px;
    }

    h1{
    font-size: 50px;
    }
    .banner-image img{
    width: 500px;
    /* border: solid red; */
    }
    .section1{
    padding: 10px;
    margin-bottom: 50px
    }
    .items-section{
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
    .section2{
    margin-bottom: 50px;
    }
    .skills-section{
        padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    }

    .skills{
    flex-direction: column;
    gap: 20px;
    /* text-align: center; */
    }

    .skill{
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    }
    .skill img{
    margin-bottom: 10px;
    }
    .summery-section{
    margin-bottom: 50px;
    }
    .summery{
    flex-direction: column;
    text-align: center;
    gap: 30px;
    }
    .summery-btn{
    margin-top: 20px;
    }
    footer{
    padding: 20px;
    margin: 0 auto;
    }
    .footer-section{
    flex-direction: column;
    gap: 50px;
    }

}

/* tanlet device responsive */
@media screen and (max-width:990px) {
    nav{
    padding: 30px 100px;
    }
    h1{
    font-size: 60px;
    }
    .banner-container{
    margin: 100px;
    /* border: red solid; */
    gap: 20px;
    }
    .banner-text .btn1{
    margin-right: 20px;
    }

}